/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: $base-font-family;
	margin: 0 0 0 0;
	color: black;
	min-height: 100%;
	padding-bottom: 90px;
}
header {
	padding-top: 18px;
	font-size: $base-font-size;
	border-bottom-style: solid;
	border-bottom-color: $base-line-color;
	border-bottom-width: $base-line-color;
	padding-bottom: 12px;
	width: 100%;
}

nav {
	max-width: 960px;
	margin: 0 auto;
}

nav > a:first-child {
	font-size: $base-font-size * 2;
	margin-right: $base-font-size * 2;
}

nav a {
	color: black;
	text-decoration: none;
	text-align: center;
	margin-right: 18px;
	&:visited {
		color: $text-color;
	}

	&:hover {
		color: $brand-color;
	}
}


article > .wrapper {
	max-width: 960px;
	margin: 0 auto;
}

h2 {
	margin-top: 12px;
	margin-bottom: 30px;
	font-weight: normal;
	
}

h3 {
	font-weight: normal;
	border-bottom: solid;
	border-bottom-color: $base-line-color;
	border-bottom-width: $base-line-height;
	margin-top: 48px;
	margin-bottom: 8px;
}

p {
	margin-top: 8px;
}

footer {
	border-top: solid;
	border-top-color: $base-line-color;
	border-top-width: $base-line-height;
	bottom: 0;
	position: absolute;
	height: 60px;
	width: 100%;
	background-color: white;
	margin-top: 30px;
}

footer .wrapper {
	max-width: 960px;
	margin: 0 auto;
}
