body {
	font-family: verdana,helvetica,arial,sans-serif;
	margin: 0 0 0 0;
	color: #555555;
}

nav {
	padding-top: 18px;
	font-size: 18px;
	border-bottom-style: solid;
	border-bottom-color: #888888;
	border-bottom-width:2px;
	padding-bottom: 12px;
	width: 100%;
}

nav .wrapper {
	max-width: 960px;
	margin: 0 auto;
}

nav > .wrapper > a:first-child {
	font-size: 36px;
	margin-right: 36px;
}

nav a {
	color: #555555;
	text-decoration: none;
	text-align: center;
	margin-right: 18px;
}

a:visited {
	    color: #555555;
}

a:hover {
	    color: #F39800;
}

article > .wrapper {
	max-width: 960px;
	margin: 0 auto;
}

h2 {
	font-weight: normal;
}

footer {
	border-top: solid;
	border-top-color: #888888;
	border-top-width: 2px;
	bottom: 0;
	position: absolute;
	height: 60px;
	width: 100%;
}

footer .wrapper {
	max-width: 960px;
	margin: 0 auto;
}
